@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.glassmorphism {
    border-radius: 16px;
    background: linear-gradient(153deg, rgba(255, 255, 255, 0.20) 0%, rgba(255, 255, 255, 0.00) 100%);
    backdrop-filter: blur(42px);
}

.main-dropshadow {
  filter: drop-shadow(2px 4px 6px black);
}

.neumorphism-dark {
  border-radius: 50px;
  background: #141C2A;
  box-shadow: -18px -18px 36px 0px rgba(255, 255, 255, 0.25), 1px 1px 2px 0px rgba(0, 0, 0, 0.02) inset, 18px 18px 36px 0px rgba(0, 0, 0, 0.25);
}

.neumorphism-light {
  border-radius: 50px;
  background: white;
  box-shadow: -18px -18px 36px 0px rgba(255, 255, 255, 0.25), 1px 1px 2px 0px rgba(0, 0, 0, 0.02) inset, 18px 18px 36px 0px rgba(0, 0, 0, 0.25);
}
